@tailwind base;
@tailwind components;
@tailwind utilities;


/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.control-habitaciones-container {

  .swal2-input, .swal2-select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    font-size: 16px;
  }

  button.crear-habitacion {
    display: block;
    margin: 20px auto;
  }

  .custom-select-swal {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    font-size: 16px;
  }

}


.custom-select-swal {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  font-size: 16px;
}
