<div class="login-container">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Iniciar Sesión</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">

        <mat-form-field appearance="fill">
          <mat-label>email</mat-label>
          <input matInput ngModel name="email"  placeholder="email" required>
        </mat-form-field>


        <mat-form-field appearance="fill">
          <mat-label>Contraseña</mat-label>
          <input matInput type="password" ngModel name="password"  placeholder="Contraseña" required>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Entrar</button>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="navigateToRegister()">Registrarse</button>
    </mat-card-actions>
  </mat-card>
</div>
